{ 	
  "printWidth": 100, 	
  "endOfLine": "lf", 	
  "tabWidth": 2, 	
  "indentStyle": "space", 	
  "useTabs": false, 	
  "arrowParens": "always", 	
  "bracketSameLine": false, 	
  "singleQuote": true, 	
  "semi": false, 	
  "bracketSpacing": true, 	
  "jsxSingleQuote": true
}
